form{
    border: solid 1px;
    width: 450px;
margin-left: 390px;
padding-left: 10px;
padding-right: 10px;
background-color: #dedede;
border-radius: 0% 0% 40% 0%;
}
h1{
    font-size: 40px;
    text-align: center;
    color: purple;
    background-color: #dede51a1;
}
p{
    font-size: 18px;
    font-weight: bold;
}
label{
    font-size: 22px;
    color: orange;
    font-weight: bold;
}
input{
    height: 30px;
    width: 320px;
}
textarea{
    height: 100px;
    width: 320px;
}
button{
    height: 50px;
    width: 150px;
    background-color: paleturquoise;
    font-size: 25px;
    border-radius: 20px;
    }
    button:hover{
        background-color: plum;
    }